footer {
    background-color: rgb(133, 57, 255);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 40px;
    font-family: "Montserrat";
}