header {
    background-color: rgb(83, 83, 83);
    height: 75px;
    display: flex;
    align-items: center;
    color: white;
    padding: 40px;
    
}

.options_header {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.options_header1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;
        button {
            padding: 5px;
            border: none;
            background-color: lightcoral;
            transition: .3s;
            cursor: pointer;
            &:hover {
                transform: scale(110%);
            }
        }
    }
    .button_header {
        color: rgb(255, 255, 255);
    }
}