.connexionSpan {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    padding: 40px;
}

.connexionP {
    text-align: center;
}

.connexionFormContainer {
    padding: 70px 0;
    height: auto;
    min-height: 90vh;
}